[package]
name = "indexer"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
serde_json.workspace = true
log.workspace = true
anyhow.workspace = true
regex.workspace = true
